.discount-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.input-group-discount {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 300%;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

button.clear-btn {
    background: #ff4d4d;
    color: white;
}

button.submit-btn {
    background: #007bff;
    color: white;
}

.button-group-discount {
    display: flex;
    justify-content: space-between;
}



